## Exploratory Data Analysis

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import seaborn as sns

## Concatinating 12 Data Sets in to one Data Frame

In [2]:
df1 = pd.read_csv('taxi_202201.csv')
df2 = pd.read_csv('taxi_202202.csv')
df3 = pd.read_csv('taxi_202203.csv')
df4 = pd.read_csv('taxi_202204.csv')
df5 = pd.read_csv('taxi_202205.csv')
df6 = pd.read_csv('taxi_202206.csv')
df7 = pd.read_csv('taxi_202207.csv')
df8 = pd.read_csv('taxi_202208.csv')
df9 = pd.read_csv('taxi_202209.csv')
df10 = pd.read_csv('taxi_202210.csv')
df11 = pd.read_csv('taxi_202211.csv')
df12 = pd.read_csv('taxi_202212.csv')

df_concat = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])

In [3]:
df_concat.shape

(2906989, 27)

In [4]:
df_concat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2906989 entries, 0 to 228472
Data columns (total 27 columns):
 #   Column                  Dtype
---  ------                  -----
 0   OBJECTID                int64
 1   TRIPTYPE                object
 2   PROVIDERNAME            float64
 3   FAREAMOUNT              float64
 4   GRATUITYAMOUNT          float64
 5   SURCHARGEAMOUNT         float64
 6   EXTRAFAREAMOUNT         float64
 7   TOLLAMOUNT              float64
 8   TOTALAMOUNT             float64
 9   PAYMENTTYPE             int64
 10  ORIGINCITY              object
 11  ORIGINSTATE             object
 12  ORIGINZIP               object
 13  DESTINATIONCITY         object
 14  DESTINATIONSTATE        object
 15  DESTINATIONZIP          object
 16  MILEAGE                 float64
 17  DURATION                float64
 18  ORIGIN_BLOCK_LATITUDE   float64
 19  ORIGIN_BLOCK_LONGITUDE  float64
 20  ORIGIN_BLOCKNAME        object
 21  DESTINATION_BLOCK_LAT   float64
 22  DESTINATION_BLOCK_LONG  float64
 23  DESTINATION_BLOCKNAME   object
 24  AIRPORT                 object
 25  ORIGINDATETIME_TR       object
 26  DESTINATIONDATETIME_TR  object
dtypes: float64(13), int64(2), object(12)
memory usage: 621.0+ MB

## Checking Null Values

In [5]:
df_concat.isnull().sum()

OBJECTID                        0
TRIPTYPE                        0
PROVIDERNAME              2906989
FAREAMOUNT                 156559
GRATUITYAMOUNT             156559
SURCHARGEAMOUNT            156559
EXTRAFAREAMOUNT            156559
TOLLAMOUNT                 156559
TOTALAMOUNT                     2
PAYMENTTYPE                     0
ORIGINCITY                      0
ORIGINSTATE                  4855
ORIGINZIP                       0
DESTINATIONCITY                 0
DESTINATIONSTATE             5117
DESTINATIONZIP                  0
MILEAGE                         0
DURATION                       68
ORIGIN_BLOCK_LATITUDE      455405
ORIGIN_BLOCK_LONGITUDE     455405
ORIGIN_BLOCKNAME           455405
DESTINATION_BLOCK_LAT      652454
DESTINATION_BLOCK_LONG     652454
DESTINATION_BLOCKNAME      652454
AIRPORT                   2327694
ORIGINDATETIME_TR               0
DESTINATIONDATETIME_TR          0
dtype: int64

## Dropping PROVIDERNAME and AIRPORT columns which has most of the Nan values

In [6]:
df_concat = df_concat.drop(['PROVIDERNAME','AIRPORT'], axis=1)

In [7]:
df_concat.isnull().sum()

OBJECTID                       0
TRIPTYPE                       0
FAREAMOUNT                156559
GRATUITYAMOUNT            156559
SURCHARGEAMOUNT           156559
EXTRAFAREAMOUNT           156559
TOLLAMOUNT                156559
TOTALAMOUNT                    2
PAYMENTTYPE                    0
ORIGINCITY                     0
ORIGINSTATE                 4855
ORIGINZIP                      0
DESTINATIONCITY                0
DESTINATIONSTATE            5117
DESTINATIONZIP                 0
MILEAGE                        0
DURATION                      68
ORIGIN_BLOCK_LATITUDE     455405
ORIGIN_BLOCK_LONGITUDE    455405
ORIGIN_BLOCKNAME          455405
DESTINATION_BLOCK_LAT     652454
DESTINATION_BLOCK_LONG    652454
DESTINATION_BLOCKNAME     652454
ORIGINDATETIME_TR              0
DESTINATIONDATETIME_TR         0
dtype: int64

## Slicing data set to only DC city

In [8]:
df_concat['ORIGINCITY'] = df_concat['ORIGINCITY'].replace({'washington, d.c.':'washington'})
df_concat['ORIGINCITY'] = df_concat['ORIGINCITY'].apply(str.lower)
top_10= df_concat['ORIGINCITY'].value_counts(ascending=False)
top_10.nlargest(30)

washington          2521868
arlington            318657
none                  10243
-                      9634
unknown                4858
washington, d.c.       3811
alexandria             2885
 arlington             2373
bethesda               1781
silver spring          1251
mclean                 1150
sterling               1145
hyattsville             975
oxon hill               944
 hyattsville            884
national harbor         841
 silver spring          801
capitol heights         743
 chevy chase            741
district heights        697
chevy chase             661
 capitol heights        623
fort myer               566
arlington county        561
 alexandria             545
chillum                 531
 bethesda               513
 chillum                420
lanham                  407
takoma park             385
Name: ORIGINCITY, dtype: int64

## Making sure every city name looks similar

In [9]:
df_concat['DESTINATIONCITY'] = df_concat['DESTINATIONCITY'].replace({'washington, d.c.':'washington'})
df_concat['DESTINATIONCITY'] = df_concat['DESTINATIONCITY'].apply(str.lower)
top_10_2= df_concat['DESTINATIONCITY'].value_counts(ascending=False)
top_10_2.nlargest(30)

washington          2399208
arlington            191879
alexandria            23098
 arlington            22866
bethesda              19223
floris                13428
silver spring         11353
national harbor       11077
-                      8025
chillum                7364
oxon hill              6909
sterling               6854
hyattsville            5812
arlington county       5539
chevy chase            5486
unknown                5118
none                   5096
mclean                 5002
 hyattsville           4912
 silver spring         4691
 alexandria            4284
potomac                3648
takoma park            3606
washington, d.c.       3563
 oxon hill             3536
rockville              3335
 dulles                3094
 capitol heights       2865
falls church           2613
 1 saarinen cir        2579
Name: DESTINATIONCITY, dtype: int64

## Slicing Data to set both origin and destination within Washington

In [10]:
df_final = df_concat[(df_concat['ORIGINCITY'] == 'washington') & (df_concat['DESTINATIONCITY'] == 'washington')]

## Droping columns which might not helpful for the model prediction

In [11]:
df_final = df_final.drop(['OBJECTID','TRIPTYPE','ORIGINCITY','DESTINATIONCITY','ORIGIN_BLOCKNAME','ORIGINSTATE','ORIGINZIP','DESTINATIONSTATE','DESTINATIONZIP','DESTINATION_BLOCKNAME','DESTINATIONZIP','DESTINATIONZIP'], axis=1)

## Considering, only rows containing latitude and longitude values without null values

In [12]:
df_final = df_final[df_final.ORIGIN_BLOCK_LATITUDE.notnull() & df_final.ORIGIN_BLOCK_LONGITUDE.notnull() & df_final.DESTINATION_BLOCK_LAT.notnull() & df_final.DESTINATION_BLOCK_LONG.notnull()]

## Final Data set shape

In [13]:
df_final.shape

(1896057, 15)

## Filling column average values for cells containing Nan Values

In [14]:
df_final['FAREAMOUNT'] = df_final['FAREAMOUNT'].fillna(df_final['FAREAMOUNT'].mean())
df_final['GRATUITYAMOUNT'] = df_final['GRATUITYAMOUNT'].fillna(df_final['GRATUITYAMOUNT'].mean())
df_final['SURCHARGEAMOUNT'] = df_final['SURCHARGEAMOUNT'].fillna(df_final['SURCHARGEAMOUNT'].mean())
df_final['EXTRAFAREAMOUNT'] = df_final['EXTRAFAREAMOUNT'].fillna(df_final['EXTRAFAREAMOUNT'].mean())
df_final['TOLLAMOUNT'] = df_final['TOLLAMOUNT'].fillna(df_final['TOLLAMOUNT'].mean())
df_final['TOTALAMOUNT'] = df_final['TOTALAMOUNT'].fillna(df_final['TOTALAMOUNT'].mean())

In [15]:
df_final

,FAREAMOUNT,GRATUITYAMOUNT,SURCHARGEAMOUNT,EXTRAFAREAMOUNT,TOLLAMOUNT,TOTALAMOUNT,PAYMENTTYPE,MILEAGE,DURATION,ORIGIN_BLOCK_LATITUDE,ORIGIN_BLOCK_LONGITUDE,DESTINATION_BLOCK_LAT,DESTINATION_BLOCK_LONG,ORIGINDATETIME_TR,DESTINATIONDATETIME_TR
1,8.65,3.10,0.00,0.25,0.0,12.00,1,1.53,90.0,38.896115,-76.990888,38.896116,-76.989277,01/01/2022 00:00,01/01/2022 00:00
4,12.78,0.00,0.25,0.00,0.0,16.61,4,2.85,975.0,38.899817,-77.026514,38.919941,-77.000047,01/01/2022 00:00,01/01/2022 00:00
8,12.97,0.00,0.25,0.00,0.0,13.22,2,3.56,820.0,38.896881,-77.006479,38.941507,-77.005127,01/01/2022 00:00,01/01/2022 00:00
10,7.03,0.00,0.25,0.00,0.0,7.28,2,1.28,412.0,38.916643,-77.031951,38.935117,-77.032733,01/01/2022 00:00,01/01/2022 00:00
11,5.68,0.00,0.25,2.25,0.0,11.10,1,1.17,416.0,38.896737,-77.028086,38.907175,-77.036530,01/01/2022 00:00,01/01/2022 00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228465,16.48,5.00,1.25,0.00,0.0,22.73,1,3.61,1570.0,38.897204,-77.008388,38.932935,-77.028086,12/31/2022 23:00,12/31/2022 23:00
228466,19.45,5.00,1.25,0.00,0.0,25.70,1,5.40,1696.0,38.896881,-77.006479,38.925439,-77.073188,12/31/2022 23:00,12/31/2022 23:00
228467,9.05,0.00,1.25,1.25,0.0,10.30,2,2.04,622.0,38.896881,-77.006479,38.898995,-76.976990,12/31/2022 23:00,12/31/2022 23:00
228469,13.78,0.00,1.25,0.00,0.0,15.03,2,2.91,1217.0,38.896881,-77.006479,38.899774,-77.054955,12/31/2022 23:00,12/31/2022 23:00
228471,18.64,3.78,1.25,0.00,0.0,23.67,1,4.90,1545.0,38.897204,-77.008388,38.938807,-77.060396,12/31/2022 23:00,12/31/2022 23:00

## Heatmap to visualize missing values

In [ ]:
sns.heatmap(df_final.isnull(),cbar=False,cmap='viridis')

In [ ]:
plt.figure(figsize=(20,20))
g=sns.heatmap(df_concat.corr(),annot=True,cmap="RdYlGn")